extends layout

block content
  h1= title
  p Welcome to #{title}
  legend Scafolding made by express generator: 
  a(href='https://expressjs.com/en/starter/generator.html') ExpressJS
  hr
  legend Unit test made by mocha 
  a(href='https://mochajs.org/') Mocha
  hr
  legend Worker pool for node.js is possible by a KOA service with node.js Async hooks: Reqires: 
  a(href='https://amagiacademy.com/blog/posts/2021-04-09/node-worker-threads-pool') Example
  a(href='https://nodejs.org/api/async_hooks.html#async_hooks_class_asyncresource') Native node.js async hooks
  p $ npm install koa
  hr
  legend To do: I have not got swagger to run with node.js express: 
  a(href='https://swagger.io/tools/swaggerhub/') Swagger
  hr
  legend This is also a small test in how to utilize .jade DOM handling
  hr
  legend Qwerks: 
  p The CLI command CLS is not removing previous terminal rendering when the npm Test is run!
